h6 {
    font-size: 1rem;
}

.bg-light {
    background-color: #e3e5e6;
}

.card-main {
    text-align: center;
}

.card-row {
    justify-content: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 725px) {
    .container {
        display: flex;
        max-width: 650px;
    }
}

.navbar {
    position: relative;
    display: flex;
    padding: 0.5rem 1rem;
}

.navbar-title {
    padding-left: 40px;
}